    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-color: #2f343d;
    }
    
    #app>div {
        background-color: #444649;
        margin: 10px;
    }
    
    .map-container {
        display: flex;
    }
    
    .app-container {
        display: flex;
        flex-direction: row;
    }
    
    .interface-panel {
        margin-left: 10px;
        background-color: blue;
        display: flex;
        flex-direction: column;
        height: 500px;
        width: 50px;
    }
    
    .playerStatus {
        display: flex;
        flex-direction: column;
        width: 300px;
        background: green;
    }